/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Rubik-Regular;
  src: url('../css/fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
  font-family: Rubik-Medium;
  src: url('../css/fonts/Rubik/Rubik-Medium.ttf');
}

@font-face {
  font-family: Rubik-Bold;
  src: url('../css/fonts/Rubik/Rubik-Bold.ttf');
}

@font-face {
  font-family: Rubik-ExtraBold;
  src: url('../css/fonts/Rubik/Rubik-ExtraBold.ttf');
}

@font-face {
  font-family: Rubik-SemiBold;
  src: url('../css/fonts/Rubik/Rubik-SemiBold.ttf');
}

*{
	box-sizing: content-box;
}

body, html {
	height: 100%;
	font-family: Rubik-Regular;
	background: #ebeeef !important;
	justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

.container-main{
	width: 800px;
	min-height: 800px;
	border-radius: 15px;
	overflow: hidden;
	flex-wrap: wrap;
	background: #fff;
}

.submit-button{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  margin-top: 15px;
  margin-left: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #5f80aa;

  font-family: Rubik-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.submit-button:hover{
	background-color: #000;
    cursor: pointer;
}

.logo{
	width: 100%;
    height: 120px;
	background-image: url(../images/logo_energo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 15px;
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 10px;
}

input{
	margin-left: 15px;
    width: 300px;
    padding-left: 10px;
}

.input-field-enter-name{
	padding-right: 10px;
}

.userInfo{
    background-color: #f7f7f7;
    text-align: center;
}

.exit{
    padding-left: 25px;
}

table{
	margin-left: auto;
	margin-right: auto;
	width: 630px !important;
	margin-bottom: 50px !important;
}

tbody{
	display: table-caption;
	overflow-y: scroll;
	height: 500px;
}

tbody td{
	cursor: pointer;
}

tbody th {
	width: 30px;
}

.general_inspection_info{

}

.fa-check, .fa-times{
    margin-left: 10px;
}

.info{
    font-family: Rubik-Regular;
    alignment: center;
}

.label{
    color: #808080;
}

.project-photo-container{
    overflow: hidden;
    width: 720px;
    height: 300px;
    align-content: center;
    position: relative;
    display: flex;
    justify-content: center;
}

#projectPhoto{
    height: inherit;
    border: 1px solid;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info{
    margin-left: 40px;
    width: 720px;
}

.fa-check{
    color: green;
}

.fa-times{
    color: red;
}

.device-card-group{
    display: table;
    width: max-content;
}

.device-card{
    display: table-cell;
    border: 1px #9f9f9f;
    padding: 5px;
    width: 310px;
}

.part-title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.scrollable{
    overflow-x: auto;
}

h5{
    margin-top: 5px;
}

.length-photos-group{
    display: table;
    width: max-content;
}

.length-photo-card{
    display: table-cell;
    border: 1px solid;
    padding: 1px;
    width: 200px;
    height: 200px;
}

.photo-card{
    height: 200px;
}

.vn-blue{
    background-color:#5f80aa;
    display:inline-block;
    position:relative;
    margin:30px 5px;
    padding:20px 20px 20px 80px;
    color:#fff;
    float: right;
    transition:all 0.3s ease
}

.vn-blue:before{
    content:"\f019";
    font-family:fontAwesome;
    position:absolute;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size:28px;
    border-radius:0 20px 0 0;
    color:#000;
    background-color:#fff;
    opacity:0.3;
    padding:20px;
    top:0;
    left:0
}

.vn-blue:hover{
    background:#2c3e50
}

img{
    cursor: pointer;
}

img:not(.imagepreview):hover{
    opacity: .8;
    transition:all 0.3s ease
}