<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/checkVerificationDocuments.css}">
</head>
<body>
<div class="container-main">
    <div class="userInfoWrapper">
        <div class="userInfo">
            <nav class="navbar navbar-light">
                <button aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                        data-target="#navbarToggleExternalContent" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span class="currentMenuAction">Создание нового акта</span>
                <span class="username"><i aria-hidden="true" class="fa fa-user"></i><span th:text="${name}"></span></span>
            </nav>
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-light p-4">
                    <div class="card-group">
                        <div class="card" id="create-new-document">
                            <img alt="..." class="card-img-top" th:src="@{/images/icons8-add-file-80.png}">
                            <div class="card-body">
                                <h6 class="card-title">Создать новый акт</h6>
                            </div>
                        </div>
                        <div class="card" id="inspection-results">
                            <img alt="..." class="card-img-top" th:src="@{/images/icons8-rules-40.png}">
                            <div class="card-body">
                                <h6 class="card-title">Результаты проверок</h6>
                            </div>
                        </div>
                        <div class="card" onclick="document.logoutForm.submit()">
                            <img alt="..." class="card-img-top" th:src="@{/images/icons8-exit-40.png}">
                            <div class="card-body">
                                <h6 class="card-title">Выйти</h6>
                                <form method="post" name="logoutForm" th:action="@{/logout}" th:hidden="true">
                                    <input hidden type="submit" value="Sign Out"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="logo"> </div>

<div class="input-title">Проверка поверочных документов</div>
<div class="input-field">Для проверки введите данные в форму, программа сверит на сайте ФГИС "АРШИН":</div>
<div class="container2">

<div class="container-main tab-content">
<div class="device-specs-container" id="deviceSpecsContainer">

</div>
</div>

<div class="row">
	<span class="text">Список добавленных приборов:</span>
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
    </div>
  </div>
  <button class="btn btn-secondary button-add-device" onclick="addModel()">+ Добавить прибор для проверки</button>
</div>
</div>
<button class="button-continue" onclick="saveDevices()">Загрузить данные на сервер</button>
</div>
<script th:inline="javascript">
    var server_ip   = /*[[${server_ip}]]*/ 'null';
    var server_port = /*[[${server_port}]]*/ 'null';
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script th:src="@{/js/checkVerificationDocuments.js}"></script>
<script th:src="@{/js/menu.js}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>